body {
  margin: 0;
  padding: 0;
  font-family: "Francois One", sans-serif;
  background-color: #00093c;
}
.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  color: white;
  background-color: #01185e;
  font-size: 3em;
  text-align: center;
  padding: 0.5rem;
  box-shadow: -0.5em 0 0.5em 0.5em #020516;
  z-index: 2;
}
.logo > h1 {
  font-size: 1rem;
  letter-spacing: 0.5em;
}
.logo > a {
  font-weight: 800;
  color: #dd1010;
}
/* All projects page*/
.all-projects {
  position: relative;
  top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00093c;
}
.all-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.all-wrapper p {
  margin: 0;
}
.all-img {
  width: 70vw;
  border: 5px solid #dd1010;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #01185e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  margin: 0;
  padding: 0;
  box-shadow: 0.5em 0 0.5em 0.5em #020516;
}
footer h1 {
  font-size: 0.75em;
  color: white;
}
.icons i {
  transform: scale(1.5);
  color: #dd1010;
  margin: 0 0.5em;
}
