body {
  margin: 0;
  padding: 0;
  font-family: "Francois One", sans-serif;
  display: grid;
  grid-template-areas:
    "nav nav nav nav nav"
    "head head head head head"
    "wel wel wel wel wel"
    "proj proj proj proj proj"
    "am am am am am"
    "skl skl skl skl skl"
    "con con con con con"
    "foot foot foot foot foot";
}
/* NAVIGATION */
nav {
  position: fixed;
  top: 0;
  left: 0;
  grid-area: nav;
  background-color: #01185e;
  width: 100%;
  height: 2.5em;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.fa-bars {
  color: #dd1010;
  margin: 0 1em;
  transform: scale(1.5);
}
.fa-sun {
  color: white;
  margin: 0 1em;
  transform: scale(1.5);
}

/* Header */
header {
  margin-top: 1em;
  height: 40vh;
  grid-area: head;
  background: #00093c;
}

/* welcome message */
.welcome {
  grid-area: wel;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00093c;
}
h1 {
  color: white;
  text-align: center;
  margin: 0.75em;
}

/* Projects */
.projects {
  grid-area: proj;
  background-color: #01185e;
}
.img-container {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  justify-content: center;
  align-items: center;
}
.img-container img {
  height: 200px;
  border: 5px solid #dd1010;
}
.img-container button {
  color: #9e9e9e;
  height: 3em;
  width: 3em;
  margin: 2em 2em;
  padding: 0;
  border-radius: 3em;
  border: none;
  box-shadow: 0 0 1em 0.5em #020516;
}
.img-container button:hover {
  box-shadow: 0 0 1em 0.5em #e3e3e6;
}
.fa-chevron-right,
.fa-chevron-left {
  transform: scale(1.5);
}

/* About Me */
.about-me {
  grid-area: am;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00093c;
}
.about-me img {
  height: 12em;
  margin: 1em 0;
  border: 5px solid #dd1010;
  border-radius: 100%;
}
#about-p {
  margin: 0 1em;
  text-align: center;
  line-height: 2em;
  letter-spacing: 0.15em;
  color: white;
  text-overflow: ellipsis;
}
#more {
  display: none;
}
#read-more {
  color: white;
  background-color: transparent;
  border: none;
  margin: 1em;
}

/* My Skills*/
.my-skills {
  grid-area: skl;
  background-color: #01185e;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.skill-container img {
  width: 35%;
  margin: 1em;
  background-color: #00093c;
  border: 2px solid #dd1010;
}

/* Contact Form */
#contact-page {
  grid-area: con;
  background-color: #00093c;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  width: 80vw;
  height: 50vh;
  padding: 25px 15px 15px 15px;
  border-radius: 20px;
  background: #ecf0f3;
  box-shadow: 7px 7px 10px #040a1b, -7px -7px 10px #203881;
}
#contact-form {
  width: 100%;
  padding: 20px 20px 3px 3px;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#contact-form [name="name"],
[name="email"],
[name="phone"] {
  border: none;
  outline: none;
  background: none;
  padding: 0.25em 0 0 1em;
  font-size: 1em;
  color: #555555;
  height: 2em;
}
#contact-form textarea {
  border: none;
  outline: none;
  background: none;
  padding: 0.25em 0 0 1em;
  font-size: 1em;
  color: #555555;
  height: 3em;
}
.form-control {
  align-items: center;
  display: inline-flex;
  border-radius: 12px;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px#ffffff;
  width: 100%;
}
.submit {
  box-shadow: none;
  background: #dd1010;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding-left: 5%;
  height: 3em;
  width: 70%;
  border: none;
  border-radius: 50px;
}
.submit:hover {
  cursor: pointer;
  background: #940a0a;
}

/* Footer */
footer {
  grid-area: foot;
  background-color: #01185e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2em;
  margin: 0;
  padding: 0;
}
footer h1 {
  font-size: 0.5em;
}
.icons i {
  color: #dd1010;
  margin: 0 0.25em;
}
.fa-caret-up {
  color: white;
  transform: scale(2);
}
